@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&display=swap");
* {
  margin: 0;

  box-sizing: border-box;
}

:root {
  --ulColor: #7118d0b3;
  --ulColor1: #ff000078;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #fffffe;
  padding: 6px 10px;
}
header {
  height: 80px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-links {
  white-space: nowrap;
  list-style: none;
  font-size: 0;
}
.nav-links li {
  width: auto;
}

.underline {
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 0px #4a494925;
  text-decoration: none;
  padding: 2px 6px;
  background-image: linear-gradient(
    120deg,
    var(--ulColor) 0%,
    var(--ulColor) 100%
  );
  background-repeat: no-repeat;
  background-size: 0 0.1em;
  background-position: 0 100%;
  transition: background-size 0.4s ease-in;
  border-radius: 10px;
}
.u-hover:hover {
  cursor: pointer;
  background-size: 100% 0.1em;
}
.home-nav a {
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  transition: 1s;
  text-shadow: 3px 3px 0px #4a494925;
  background-image: linear-gradient(
    120deg,
    var(--ulColor1) 0%,
    var(--ulColor1) 100%
  );
}
.home-nav a:hover {
  text-shadow: none;
  background-image: linear-gradient(
    120deg,
    var(--ulColor1) 0%,
    var(--ulColor1) 100%
  );
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links li {
  display: inline-block;
  padding: 0px 5px;
}

/* text wrappers */
/* -------------------------------------------------------------------- */
.section-wrape {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btn-wrap {
  display: flex;
  justify-content: space-around;
  width: 500px;
  padding-left: 50px;
}
.hometext-wrap {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 600px;
  line-height: 2.5;
  font-weight: 800;
  font-size: 25px;
}

.home-content {
  max-width: 100%;
  height: 68%;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: #efefef;
  text-align: right;
  text-shadow: 6px 3px 10px #10860c;
}
/* ----------------------------------------------------------------------- */

#home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(-110deg, #32cd32 55%, #e0e0e0 45%);
  border-radius: 20px;
  box-shadow: 18px 18px 35px #bcb6b6, -18px -18px 35px #ffffff;
  padding-left: 8%;
  padding-right: 3%;
  margin-bottom: 1.5%;
}

.home-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  width: 550px;
  height: 550px;
  background: #32cd32;
  border-radius: 50%;
  border: 25px solid #fff;
  outline: 25px solid #32cd32;
}
.home-img img {
  position: relative;
  bottom: 25px;
  width: 550px;
  max-height: 600px;
  border-radius: 45%;
}

.home-content h1 {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;

  font-size: 55px;
  line-height: 1.2;
}

/* home page text */
/* ------------------------------------------------------------------------- */
#p1 {
  width: 161px;
  white-space: nowrap;
  line-height: 40px;
}

#p3 {
  white-space: nowrap;
  padding-left: 30px;
}
#p4 {
  line-height: 40px;
  padding-left: 60px;
}
/* --------------------------------------------------------------- */

/* btns */
/* -------------------------------------------------------------------- */
.home-link a {
  text-decoration: none;
  font-size: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.home-link i {
  color: #7118d0b3;
}

.home-link a:hover {
  box-shadow: none;
  text-shadow: none;
}

.home-btn a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: auto;
  padding: 12px 15px;
  background: #7118d0b3;
  border-radius: 50px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  box-shadow: 6px 3px 10px #0e0e0ea4;
}
.btn:hover {
  box-shadow: 1px 1px 5px #9fff96a4;
  text-shadow: none;
}
/* ----------------------------------------------------------------------- */

h1 span {
  padding-left: 40px;
}
.hometext-wrap span {
  /* font-size:; */
  color: rgba(137, 43, 226, 0.683);
  -webkit-text-stroke: 0.1px rgba(0, 208, 255, 0.682);
}
